@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


/* Stylish scroll bar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(30, 58, 137);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(30, 58, 137);
}
::-webkit-scrollbar-track {
    background-color: rgba(18, 18, 18);
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.header-bg {
    background: linear-gradient(45deg, #003087, #4285F4, #EA4335, #34A853, #003087);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
